<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" 
	version="4.0">
  <display-name>JSP01</display-name>
  
  <servlet> <!-- Servlet 클래스와 이름을 설정 -->
  	<servlet-name>forwardTestServlet</servlet-name>
  	<servlet-class>edu.web.intro.ForwardTestServlet</servlet-class>
  </servlet>
  <servlet-mapping> <!-- Servlet과 Servlet이 처리할 URL pattern을 매핑 -->
  	<servlet-name>forwardTestServlet</servlet-name>
  	<url-pattern>/forward</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>redirectTestServlet</servlet-name>
  	<servlet-class>edu.web.intro.RedirectTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>redirectTestServlet</servlet-name>
  	<url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>