@charset "UTF-8";


.menuh1 {
	background-color: #406200;
	color: #fff;
	padding: 40px;
}

section{
	position: relative;
	color: gray;
}

.imgdiv{
	float: right;
	position: absolute;
	top: 30px;
	right: 30px;
}

img {
	width: 200px;
	height: 250px;
	padding: 20px;
	
}
footer {
	background-color: #406200;
	color: #fff;
}
.menulist li {
	display: inline-block;
	padding: 10px;
}

.blog {
	text-decoration: none;
	color:#fff;
}
.copy p {
	text-align: center;
	padding: 20px;
}
